.light-white {
    color: #CCC9DC;
}

.black {
    color: black;
}

.white {
    color: white;
}

.black-blue {
    color: #0C1821;
}

.navy-blue {
    color: #1B2A41;
}

.dirty-blue {
    color: #324A5F;
}
