.light-white {
    color: #CCC9DC;
}

.black {
    color: black;
}

.white {
    color: white;
}

.black-blue {
    color: #0C1821;
}

.navy-blue {
    color: #1B2A41;
}

.dirty-blue {
    color: #324A5F;
}

.nav {
    width: 100%;
    transition-timing-function: ease-in;
    transition: all 0.5;
}

.glass-effect {
    background: rgba(16, 31, 43, 0.86);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 0 10px 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.md-glass-effect {
    background: rgba(16, 31, 43, 0.86, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
}

.nav-sticky {
    position: fixed;
    top: 0px;
    width: 100%;
}

.work-sans {
    font-family: 'Work Sans';
    font-style: normal;
    align-items: center;
    letter-spacing: -0.02em;
}

.heading-bold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    line-height: 90px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #0C1821;
    opacity: 0.9;
    -webkit-text-stroke: 5px #CCC9DC;
    /* light white */
    text-shadow: 0px 4px 4px #000000;
}

.team-head {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #CCC9DC;
}

.event-bg-box {
    border-radius: 0px;
    box-shadow: #1B2A41 -5px -5px 0px 2px,
        #324A5F -10px -10px 0px 4px,
        #CCC9DC -15px -15px 0px 5px,
        #324A5F -10px -10px 0px 4px,
        #1B2A41 -0 0 0 0;
}